.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.todo-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
}

.todo-list h2 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #111827;
    margin: 0;
}

.lista-tareas-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%;
    padding-bottom: 20px;
}